<header class="px-4 sm:px-6 lg:px-8">
  <main class="md:px-8 py-8 sm:px-6 lg:px-8 min-h-screen">
    <div class="mx-auto max-w-2xl">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
  </main>
</header>
