  <main class="min-h-screen ">
    <div class="mx-auto w-10/12">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
      <img class=" w-full" src="/images/squiggle-cropped.svg" alt="Footer" />

  </main>
