<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]  max-h-screen">
  <head>
    <%= env = Application.get_env(:quest_api_v21_web, :env) %>
    <link
      rel="icon"
      href={if env == :prod, do: ~p"/favicon.ico", else: ~p"/images/dev-favicon.ico"}
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdn.rawgit.com/cozmo/jsQR/master/dist/jsQR.js">
    </script>
    <script src="https://hammerjs.github.io/dist/hammer.min.js">
    </script>
    <!-- Hotjar Tracking Code for https://questapp.io/ -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:3926015,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Quest App">
      <%= assigns[:page_title] || "Quest" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js">
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F7RQVMPZHX">
    </script>

    <%= if System.get_env("MIX_ENV") == "prod" do %>
      <!-- Google tag (gtag.js) for Production Environment -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-F7RQVMPZHX">
      </script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-F7RQVMPZHX');
      </script>
    <% end %>
  </head>

  <body class={"antialiased bg-brand " <> (assigns[:body_class] || "bg-white")}>
    <%= @inner_content %>
  </body>
</html>
