@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@keyframes growAndShrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02); /* Grow to 110% size */
    }
    100% {
      transform: scale(1); /* Back to the original size */
    }
  }
  
.confetti-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Adjust z-index to be above or below other elements as needed */
  pointer-events: none; /* Allows clicks to pass through */
}


/* Keyframes for the pulsing glow animation */
@keyframes pulse-glow {
  0% {
    box-shadow: 0 0 10px 5px rgba(106, 67, 184, 0.6); /* Starting state of the glow */
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(106, 67, 184, 0.3); /* Fainter and wider glow */
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(106, 67, 184, 0.6); /* Return to starting state */
  }
}

/* Button styling with animation */
.glow-button {
  animation: pulse-glow 2s infinite; /* Apply the animation */
}

/* prevent popping on badge image */

.image-container {
  width: 220px;   /* Width of the image */
  height: 220px;  /* Height of the image */
  position: relative; /* Helps in positioning inner elements */
  background-color: #0C4E76;
}


.badge-image {
  width: 100%;
  height: auto;
  display: block; /* Remove default img margin */
}

input:focus {
  outline: none !important;
  outline: 0 !important;
}

.badge-container {
  position: relative;
}

.grayscale {
  filter: grayscale(100%);
}

.lock-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar {
  width: 100%;
  transition: box-shadow 0.3s;
}

.progress {
  background-color: #4caf50; /* Replace with your brand color */
  height: 100%;
  transition: width 0.3s;
  
}

/* Normal progress bar without glow */
.normal-progress {
  box-shadow: none;
}

/* Glow effect for completed progress bar container */
.completed-progress-bar-glow {
  box-shadow: 0 0 16px 3px #b3ffb5; /* Strong glow for completion */
  border: solid 1px green;
  transition: all 1s ease;
}

.completed-progress {
  background-color: rgb(30, 245, 37); 
  height: 100%;
  transition: width 0.3s;
}

.progress, .completed-progress {
  transition: width 2s ease; /* Adjust the duration and timing function as needed */
}

