@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  --brand-color: #6A43B8;
}


/* White sign up pages */
.white-glow {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}



/* This file is for your main application CSS */
@keyframes growAndShrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02); /* Grow to 110% size */
    }
    100% {
      transform: scale(1); /* Back to the original size */
    }
  }
  
.confetti-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Adjust z-index to be above or below other elements as needed */
  pointer-events: none; /* Allows clicks to pass through */
}


/* Keyframes for the pulsing glow animation */
@keyframes pulse-glow {
  0% {
    box-shadow: 0 0 10px 5px rgba(106, 67, 184, 0.6); /* Starting state of the glow */
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(106, 67, 184, 0.3); /* Fainter and wider glow */
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(106, 67, 184, 0.6); /* Return to starting state */
  }
}

/* Button styling with animation */
.glow-button {
  animation: pulse-glow 2s infinite; /* Apply the animation */
}

/* prevent popping on badge image */

.image-container {
  width: 220px;   /* Width of the image */
  height: 220px;  /* Height of the image */
  position: relative; /* Helps in positioning inner elements */
  background-color: #0C4E76;
}




input:focus {
  outline: none !important;
  outline: 0 !important;
}

.badge-container {
  position: relative;
}

.grayscale {
  filter: grayscale(100%);
}

.lock-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar {
  transition: box-shadow 0.3s;
  width: 100%;
}

.progress {
  background: rgb(106,67,184);
  background: linear-gradient(90deg, rgba(106,67,184,1) 37%, rgba(0,168,230,1) 100%);
  height: 100%;
  transition: width 0.3s;

}

/* Normal progress bar without glow */
.normal-progress {
  box-shadow: none;
}

/* Glow effect for completed progress bar container */
.completed-progress-bar-glow {
  box-shadow: 0 0 8px 3px #cab0ff; /* Strong glow for completion */
  transition: all 1s ease;
}

.completed-progress {
  background-color: #6A43B8; 
  height: 100%;
  transition: width 0.3s;
}

.progress, .completed-progress {
  transition: width 2s ease; /* Adjust the duration and timing function as needed */
}

main {
  scroll-behavior: smooth;
}

.bg-light-blue {
  background-color: #f2f7ff;
}



.soft-shadow-inner {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.39);
}


/* Accordian styles */

#accordionContent {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}
#secondAccordionContent {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}
#thirdAccordionContent {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}

#accordionContentPasswordID {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-out;
}
#accordionContentEmailID {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}
#accordionContentUsernameID {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}



/* Neomorphism sandbox */
.frosted-glass {


  background: linear-gradient(
    to top, 
    rgb(255, 255, 255) 10%,  /* More solid white at the bottom */
    rgba(255, 255, 255, 0.4) 100%   /* More transparent white at the top */
  );
  /* Apply the frosted glass effect */
  backdrop-filter: blur(6px); /* Adjust the blur value as needed */
}


.frosted-glass-b {


  background: linear-gradient(
    to bottom, 
    rgb(242, 247, 255) 10%,  /* More solid white at the bottom */
    rgba(255, 255, 255, 0.4) 100%   /* More transparent white at the top */
  );
  /* Apply the frosted glass effect */
  backdrop-filter: blur(4px); /* Adjust the blur value as needed */
}


.glowing-purple-text {
  
  color: var(--brand-color);
  text-shadow: 0px 0px 8px rgb(111, 0, 255);
}




.soft-shadow-outer {
  background: #f2f7ff;
  box-shadow:  7px 7px 14px #ced2d9,
               -7px -7px 14px #ffffff;
  }


  





/* Google css styles */

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: #f2f2f2;
  background-image: none;
  border: none;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
}

.gsi-material-button:disabled .gsi-material-button-state {
  background-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #001d35;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #001d35;
  opacity: 8%;
}
