<div class="justify-between">

  <h1 class="text-2xl text-center font-bolder">
    Welcome to Quest!
  </h1>

  <p class="text-sm px-8 text-center mt-4 font-light">Scan a Quest QR code to begin your adventure...</p>
  
</div>

<div class="flex justify-center mt-32">
    <.find_quests />
</div>